[submodule "frontend"]
	path = frontend
	url = https://github.com/Ceball0s/OfertaYa-frontend.git
	branch = main
[submodule "Microservicio-Subasta"]
	path = Microservicio-Subasta
	url = https://github.com/Ceball0s/Microservicio-Subasta.git
	branch = main
[submodule "Microservicio-Autenticacion"]
	path = Microservicio-Autenticacion
	url = https://github.com/Ceball0s/Microservicio-Autenticacion.git
	branch = main
[submodule "Microservicio-Oferta"]
	path = Microservicio-Oferta
	url = https://github.com/cristhianleonardo/Microservicio-Oferta.git
	branch = main
[submodule "Microservicio-Chat"]
	path = Microservicio-Chat
	url = https://github.com/cristhianleonardo/Microservicio-Chat.git
	branch = main
[submodule "Microservicio-Eureka"]
	path = Microservicio-Eureka
	url = https://github.com/Ceball0s/Microservicio-Eureka.git
	branch = main
[submodule "Microservicio_Monitoreo"]
	path = Microservicio_Monitoreo
	url = https://github.com/NyC0lS/Microservicio_Monitoreo.git
	branch = main
